<div class="body clearfix">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div>
    <p>Here’s what’s happening with your business today.</p>
  </div>

  <div class="stacked-box inline">
    <div class="box-item">
      <div class="box-content">
        <div class="metrics">
          <h6>
            <span><fa-icon [icon]="icon.users"></fa-icon></span> teams
          </h6>
          <div>
            <span class="count">8</span>
          </div>
        </div>
      </div>
    </div>
    <div class="box-item">
      <div class="metrics">
        <h6>
          <span><fa-icon [icon]="icon.codeBranch"></fa-icon></span> projects
        </h6>
        <div>
          <span class="count">28</span>
        </div>
      </div>
    </div>
    <div class="box-item">
      <div class="metrics">
        <h6>
          <span><fa-icon [icon]="icon.tasks"></fa-icon></span> active tasks
        </h6>
        <div>
          <span class="count">48</span>
        </div>
      </div>
    </div>
    <div class="box-item">
      <div class="metrics">
        <h6>
          <span><fa-icon [icon]="icon.tasks"></fa-icon></span> completed tasks
        </h6>
        <div>
          <span class="count">18</span>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix">&nbsp;</div>

  <div class="row">
    <div class="col">
      <div class="box box-shadow">
        <div [chart]="colChart" class="chart"></div>
      </div>
    </div>
    <div class="col">
      <div class="box box-shadow">
        <div [chart]="lineChart" class="chart"></div>
      </div>
    </div>
  </div>
</div>
