.metrics {
  margin-right: auto;
  margin-left: auto;
  padding: 1.5rem;
  text-align: center;

  h6 {
    text-transform: capitalize;
    color: #9c9c9c;
  }

  .count {
    font-size: 2rem;
  }
}