$inputSearchbg: #63696f;
$white: #ffffff;
$navBarGray: #2a2f33;

@mixin onFocusForm($property) {
  background: $property;
  border-color: $property;
}

.navbar {
  height: 3.5rem;
  padding: 0 !important;

  .navbar-brand-container {
    height: 100%;
    width: 15rem;
    background-color: $navBarGray;
    padding-top: 0.4rem;
    padding-left: 0.9rem;

    .navbar-brand {
      img {
        vertical-align: top;
      }
    }
  }

  .nav-formsearch {
    margin-left: 1rem;
    width: 39rem;

    .input-group {
      .input-group-prepend {
        .input-group-text {
          @include onFocusForm($inputSearchbg);
          color: $white;
        }
      }

      .form-control {
        @include onFocusForm($inputSearchbg);
        font-size: 14px;
        transition: 0.3s;

        &::placeholder {
          color: $white;
        }

        &:focus {
          box-shadow: none !important;
          @include onFocusForm($white);

          &::placeholder {
            color: $navBarGray !important;
          }
        }
      }
    }
  }

  #navbarNav {
    display: block !important;
    height: 100%;

    .navbar-nav {
      margin-right: 1rem;
      float: right;
      height: 100%;

      .account-photo {
        margin-top: 0.25rem;
        margin-left: 0.5rem;
        position: relative;
        width: 2rem;
        height: 2rem;
        display: inline-block;
        
        img {
          max-width: 100%;
          height: 100%;
          border-radius: 4rem;
          position: absolute;
          top: 0;
          left: 0;;
        }
      }

      .account {
        margin-left: 0.7rem;
        display: inline-block;
        max-width: 15rem;
        flex: 1;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        position: absolute;

        span {
          display: block;

          &.name {
            font-weight: bold;
          }

          &.position {
            font-size: 11px;
          }
        }
      }

      .nav-item {
        .nav-link {
          cursor: pointer;
        }

        &.dropdown {
          border-left: 1px solid $navBarGray;
          width: 15rem;
        }
      }
    }
  }
}

ul.dd-menu {
  margin-bottom: 0;
  padding: 0;

  li.dd-item {
    list-style: none;
    padding: 0.5rem 0.75rem;

    &:hover {
      background-color: #ececec;
      transition: 0.3s;
    }

    .dd-link {
      cursor: pointer;
      display: block;
    }
  }
}