<div class="clearfix" id="box">
  <h5>Common Box</h5>
  <div class="box">This is a box</div>
  <div class="clearfix">&nbsp;</div>

  <div class="box warning">This is a box with warning</div>
  <div class="clearfix">&nbsp;</div>

  <div class="box danger">This is a box in danger</div>
  <div class="clearfix">&nbsp;</div>

  <div class="box success">This is a successful box</div>
  <div class="clearfix">&nbsp;</div>

  <div class="box info">This is a information box</div>
  <div class="clearfix">&nbsp;</div>
  
  <div class="clearfix">&nbsp;</div>

  <div class="row">
    <div class="col">
      <h5>Stacked Box</h5>
      <div class="stacked-box">
        <div class="box-item">Box 1</div>
        <div class="box-item">Box 2</div>
        <div class="box-item">Box 3</div>
        <div class="box-item">Box 4</div>
      </div>
    </div>

    <div class="col">
      <h5>Stacked Box with content</h5>
      <div class="stacked-box">
        <div class="box-item">
          <h6 class="box-title">Box Title</h6>
          <div class="box-content">
            Box content goes here...
          </div>
        </div>
        <div class="box-item">
          <h6 class="box-title">Box Title</h6>
          <div class="box-content">
            Box content goes here...
          </div>
        </div>
        <div class="box-item">
          <h6 class="box-title">Box Title</h6>
          <div class="box-content">
            Box content goes here...
          </div>
        </div>
        <div class="box-item">
          <h6 class="box-title">Box Title</h6>
          <div class="box-content">
            Box content goes here...
          </div>
        </div>
      </div>
    </div>
  </div>
</div>