<div class="clearfix" id="box">
  <h5>Common Box</h5>
  <div class="box">This is a box</div>
  <div class="clearfix">&nbsp;</div>

  <div *ngFor="let box of boxes">
    <div class="box {{ box.class }}">{{ box.title }} with {{ box.class }}</div>
    <div class="clearfix">&nbsp;</div>
  </div>
  
  <div class="clearfix">&nbsp;</div>

  <div class="row">
    <div class="col">
      <h5>Inline Stacked Box</h5>
      <div class="stacked-box inline">
        <div class="box-item" *ngFor="let box of boxes">
          <h6 class="box-title">{{ box.title }}</h6>
          <div class="box-content">
            {{ box.content }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix">&nbsp;</div>
  <div class="clearfix">&nbsp;</div>

  <div class="row">
    <div class="col">
      <h5>Stacked Box</h5>
      <div class="stacked-box">
        <div class="box-item" *ngFor="let box of boxes">{{ box.title }}</div>
      </div>
    </div>

    <div class="col">
      <h5>Stacked Box with content</h5>
      <div class="stacked-box">
        <div class="box-item" *ngFor="let box of boxes">
          <h6 class="box-title">{{ box.title }}</h6>
          <div class="box-content">
            {{ box.content }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix">&nbsp;</div>
  <div class="clearfix">&nbsp;</div>

</div>