.app-sidebar {
  position: fixed;
  top: 3.5rem;
  width: 15rem;
  background-color: #f5f5f5;
  border-right: 1px solid #e4e4e4;
  z-index: 1;
  height: 100%;

  section {
    nav {
      .side-menu-header {
        text-transform: uppercase;
        padding-left: 1rem;
        font-weight: bold;
      }

      .parent-nav {
        padding: 0;

        li {
          list-style: none;
          padding: 0.8rem 1rem;
          cursor: pointer;
          transition: 0.3s;

          &.active {
            border-right: 5px solid #dd0031;
            background-color: #e2e2e2;

            &:hover {
              border-right: 5px solid #dd0031;
            }

            a {
              font-weight: 600;

              span {
                .icon {
                  color: #343a40;
                }
              }
            }
          }

          &:hover {
            border-right: 5px solid #ababab;
            background-color: #e2e2e2;

            a {
              span {
                .icon {
                  color: #343a40;
                }
              }
            }
          }

          a {
            text-transform: capitalize;
            color: #343a40;
            display: block;

            span {
              width: 20px;
              display: -webkit-inline-box;
              
              .icon {
                color: #ababab;
              }
            }
          }

          .child-nav {
            padding-right: 0;
          }
        }
      }
    }
  }
}