<aside class="app-sidebar">
  <!-- <h4>Epcot Center</h4>
  <p>The Epcot Center is a theme park in Disney World, Florida.</p> -->
  <section>
    <nav>
      <ul class="parent-nav">
        <li (click)="onNavClick()">
          <a routerLink="/dashboard" [class.active]="currentRoute === '/dashboard' || currentRoute === '/'">
            <span><fa-icon [icon]="icon.tachometerAlt" class="icon"></fa-icon></span> dashboard
          </a>
        </li>
        <li (click)="onNavClick()">
          <a routerLink="/layouts" [class.active]="currentRoute === '/layouts'">
            <span><fa-icon [icon]="icon.columns" class="icon"></fa-icon></span> layouts
          </a>
          <!-- <a routerLink="/layouts">layouts</a> -->
        </li>
      </ul>
      <h6 class="side-menu-header">interfaces</h6>
      <ul class="parent-nav">
        <li>
          <a role="button" (click)="toggleComponents()">
            <span><fa-icon [icon]="icon.puzzlePiece" class="icon"></fa-icon></span> components
            <span class="icon-has-child">
              <fa-icon [icon]="icon.angleRight" *ngIf="!componentsShown"></fa-icon>
              <fa-icon [icon]="icon.angleDown" *ngIf="componentsShown"></fa-icon>
            </span>
          </a>
          <div *ngIf="componentsShown">
            <ul class="child-nav">
              <li (click)="onNavClick()">
                <a routerLink="/components/box" [class.active]="currentRoute === '/components/box'"> box </a>
              </li>
              <li (click)="onNavClick()">
                <a routerLink="/components/buttons" [class.active]="currentRoute === '/components/buttons'"> buttons </a>
              </li>
            </ul>
          </div>
        </li>
        <li [class.active]="currentRoute === '/forms'">
          <a href="/forms">
            <span><fa-icon [icon]="icon.fileAlt" class="icon"></fa-icon></span> forms
          </a>
        </li>
        <li [class.active]="currentRoute === '/tables'">
          <a href="/tables">
            <span><fa-icon [icon]="icon.thLarge" class="icon"></fa-icon></span> tables
          </a>
        </li>
        <li [class.active]="currentRoute === '/typography'">
          <a href="/typography">
            <span><fa-icon [icon]="icon.font" class="icon"></fa-icon></span> typography
          </a>
        </li>
      </ul>
      <h6 class="side-menu-header">utilities</h6>
      <ul class="parent-nav">
        <li><a href="#">borders</a></li>
        <li><a href="#">colors</a></li>
        <li><a href="#">sizing</a></li>
      </ul>
    </nav>
  </section>
</aside>