<aside class="app-sidebar">
  <!-- <h4>Epcot Center</h4>
  <p>The Epcot Center is a theme park in Disney World, Florida.</p> -->
  <section>
    <nav>
      <ul>
        <li [class.active]="currentRoute === '/dashboard' || currentRoute === '/'">
          <a href="/dashboard">
            <span><fa-icon [icon]="icon.tachometerAlt" class="icon"></fa-icon></span> dashboard
          </a>
        </li>
        <li [class.active]="currentRoute === '/layouts'">
          <a href="/layouts">
            <span><fa-icon [icon]="icon.columns" class="icon"></fa-icon></span> layouts
          </a>
          <!-- <a routerLink="/layouts">layouts</a> -->
        </li>
      </ul>
      <h6 class="side-menu-header">interfaces</h6>
      <ul>
        <li [class.active]="currentRoute === '/components'">
          <a href="/components">
            <span><fa-icon [icon]="icon.puzzlePiece" class="icon"></fa-icon></span> components
          </a>
        </li>
      </ul>
      <h6 class="side-menu-header">pages</h6>
      <ul>
        <li><a href="#">auth</a></li>
        <li><a href="#">users</a></li>
      </ul>
    </nav>
  </section>
</aside>