/* You can add global styles to this file, and also import other style files */
body {
  font-size: 13px !important;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.main {
  .body {
    padding: 1rem;
    height: auto;
  }
}

.navbar-dropdown {
  border: 1px solid #e2e2e2;
  box-shadow: 0px 2px 6px #d6d6d6;
  width: 15rem;

  .arrow {
    left: 12% !important;
  }

  .popover-body {
    padding: 0 !important;
  }
}
